services:
  postgres:
    image: postgres:15-alpine
    container_name: logistics-postgres
    environment:
      POSTGRES_USER: logistics_user
      POSTGRES_PASSWORD: logistics_pass
      POSTGRES_DB: logistics_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - logistics-network

  mongo:
    image: mongo:7-jammy
    container_name: logistics-mongo
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
    networks:
      - logistics-network

volumes:
  postgres_data:
  mongo_data:

networks:
  logistics-network:
    driver: bridge